// Colors
$primary: #000000;
$dark-blue: #080e3f;
$light-blue: #4c3eff;

$white: #ffffff;
$light-gray: #f3f5f7;
$gray: #cfd6dd;
$dark-gray: #9ea6ae;

// Typography
$font-family: "proxima-nova", sans-serif;

// Motion
$fade-ms: 120ms;

// Breakpoints
$bp-tablet: 1024px;
$bp-mobile: 480px;
